@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;

@include b(cascader-panel) {
  @include set-component-css-var('cascader', $cascader);
}

@include b(cascader-panel) {
  display: flex;
  border-radius: getCssVar('cascader-menu', 'radius');
  font-size: getCssVar('cascader-menu', 'font-size');

  @include when(bordered) {
    border: getCssVar('cascader-menu', 'border');
    border-radius: getCssVar('cascader-menu', 'radius');
  }
}

@include b(cascader-menu) {
  min-width: 180px;
  box-sizing: border-box;
  color: getCssVar('cascader-menu', 'text-color');
  border-right: getCssVar('cascader-menu', 'border');

  &:last-child {
    border-right: none;

    .#{$namespace}-cascader-node {
      padding-right: 20px;
    }
  }

  @include e(wrap) {

    // Raise the priority
    &.#{$namespace}-scrollbar__wrap {
      height: 204px;
    }
  }

  @include e(list) {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 6px 0;
    list-style: none;
    box-sizing: border-box;
  }

  @include e(select-all) {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 34px;
    line-height: 34px;
    border-bottom: 1px solid getCssVar('border-color-light');
    background: getCssVar('fill-color-light');
    cursor: pointer;
    outline: none;
    box-sizing: border-box;

    &:hover {
      background: getCssVar('cascader-node', 'background-hover');
    }

    .#{$namespace}-checkbox {
      margin-right: 0;
      width: 100%;

      .#{$namespace}-checkbox__label {
        font-weight: 500;
        color: getCssVar('text-color-primary');
      }
    }

    // 响应式设计支持
    @media (max-width: 768px) {
      padding: 0 15px;
      height: 32px;
      line-height: 32px;
    }

    @media (max-width: 480px) {
      padding: 0 10px;
      height: 30px;
      line-height: 30px;
    }

    // 暗色主题支持
    @include when(dark) {
      background: getCssVar('fill-color-darker');
      border-bottom-color: getCssVar('border-color');

      &:hover {
        background: getCssVar('fill-color-dark');
      }

      .#{$namespace}-checkbox__label {
        color: getCssVar('text-color-primary');
      }
    }
  }

  @include e(virtual-list) {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 6px 0;
    list-style: none;
    box-sizing: border-box;

    // 确保虚拟列表容器与普通列表容器样式一致
    .#{$namespace}-vl__window {
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    // 虚拟列表内部容器样式
    .#{$namespace}-vl__inner {
      position: relative;
      width: 100%;
    }

    // 确保虚拟列表中的级联选择器节点样式正确
    .#{$namespace}-cascader-node {
      position: relative;
      display: flex;
      align-items: center;
      padding: 0 30px 0 20px;
      height: 34px;
      line-height: 34px;
      outline: none;
      box-sizing: border-box;
    }

    // 隐藏虚拟列表的滚动条，使用外部的 el-scrollbar
    .#{$namespace}-vl__wrapper {
      .#{$namespace}-virtual-scrollbar {
        display: none;
      }
    }

    // 确保虚拟列表的绝对定位不会影响级联选择器的布局
    .#{$namespace}-vl__window {
      position: relative;
      overflow: hidden;
    }

    // 虚拟列表项样式
    .#{$namespace}-vl__inner>* {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    // 响应式设计支持
    @media (max-width: 768px) {
      .#{$namespace}-cascader-node {
        padding: 0 20px 0 15px;
        height: 32px;
        line-height: 32px;
      }
    }

    @media (max-width: 480px) {
      .#{$namespace}-cascader-node {
        padding: 0 15px 0 10px;
        height: 30px;
        line-height: 30px;
      }
    }

    // 主题支持
    @include when(dark) {
      .#{$namespace}-cascader-node {
        color: getCssVar('text-color-primary');

        &:hover {
          background: getCssVar('fill-color-light');
        }
      }
    }
  }

  @include e(hover-zone) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  @include e(empty-text) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    color: getCssVar('cascader', 'color-empty');

    .is-loading {
      margin-right: 2px;
    }
  }
}

@include b(cascader-node) {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 30px 0 20px;
  height: 34px;
  line-height: 34px;
  outline: none;

  &.is-selectable.in-active-path {
    color: getCssVar('cascader-menu', 'text-color');
  }

  &.in-active-path,
  &.is-selectable.in-checked-path,
  &.is-active {
    color: getCssVar('cascader-menu', 'selected-text-color');
    font-weight: bold;
  }

  &:not(.is-disabled) {
    cursor: pointer;

    &:hover,
    &:focus {
      background: getCssVar('cascader-node', 'background-hover');
    }
  }

  @include when(disabled) {
    color: getCssVar('cascader-node', 'color-disabled');
    cursor: not-allowed;
  }

  @include e(prefix) {
    position: absolute;
    left: 10px;
  }

  @include e(postfix) {
    position: absolute;
    right: 10px;
  }

  @include e(label) {
    flex: 1;
    text-align: left;
    padding: 0 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  >.#{$namespace}-checkbox {
    margin-right: 0;
  }

  >.#{$namespace}-radio {
    margin-right: 0;

    .#{$namespace}-radio__label {
      padding-left: 0;
    }
  }
}